@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<form method="post">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Emal</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Customer in Model.Customers)
            {
                <tr>
                    <td>@Customer.Id</td>
                    <td>@Customer.Name</td>
                    <td>@Customer.Email</td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@Customer.Id">Edit</a>

                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@Customer.Id">Delete</button>
                    </td>
                </tr>

            }

        </tbody>

    </table>

</form>
